<div class="OD1">
    <div class="CL1">
        <form [formGroup]="PostForm" (ngSubmit)="onFormSubmit()">
            <div>
                <div class="body_container">
                    <div class="leftdiv">
                        <p class="heading heading_c10">Write your content </p>
                        <p style="width: 100%; margin-bottom: 0;">
                            <mat-form-field appearance="outline" style="width: 100%;" >
                                <mat-label>Give a title to your post</mat-label>
                                <input type="text" matInput placeholder="write here....." formControlName="PostTitle">
                            </mat-form-field>
                        </p>
                        <p style=" margin-bottom: 0;">
                            <span class="helptext">Choose tags :</span>
                            <mat-form-field class="example-chip-list" class="chipsfield" appearance="outline">
                                <mat-chip-grid #chipGrid aria-label="Tags">
                                    <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                                        {{fruit}}
                                        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                </mat-chip-grid>
                                <input placeholder="write here....." #fruitInput [formControl]="fruitCtrl"
                                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)" />
                                <mat-autocomplete class="test" #auto="matAutocomplete"
                                    (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                        {{fruit}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </p>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p style="width: 48%; margin-bottom: 0;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Post Category :</mat-label>
                                    <mat-select formControlName="PostCategoryName">
                                        <mat-option *ngFor="let item of categorylist" [value]="item.CategoryUUID">
                                            {{item.CategoryName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                            <p style="width: 48%; margin-bottom: 0;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Select Privacy :</mat-label>
                                    <mat-select formControlName="MediaVisibilityState">
                                        <mat-option *ngFor="let item of PrivacyLists" [value]="item.PrivacyUUID">
                                            {{item.PrivacyType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p style="width: 40%; margin-bottom: 0;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Choose your page :</mat-label>
                                    <mat-select formControlName="PageUUID">
                                        <mat-option *ngFor="let item of Pagelists" [value]="item.PageUUID">
                                            {{item.PageName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                            <p style="width: 58%; margin-bottom: 0;" class="textfield">
                                <span class="helptext">Choose your page icon :</span>
                                <input mat-input type="file" name="" id="" formControlName="ProfileImagePath"
                                #logoInput (change)="onSelectFile($event)">
                            </p>
                        </div>
                    </div>
                    <div class="rightdiv">
                        <img class="img" [src]="url" alt="">
                    </div>
                </div>
            </div>
            <div class="ibc">
                <quill-editor formControlName="PostDescription" [modules]="modules"></quill-editor>
            </div>
            <div>
                <button type="submit" class="submit_btn" mat-stroked-button color="primary">Create post</button>
            </div>
        </form>
    </div>

    <div class="CL2">
        <p>Top Posts </p>

    </div>
</div>