<div style="width: 50vw; height: auto;">
    <form action="#" method="post">
        <p style="width: 100%;">
            <mat-form-field appearance="outline" style="width: 90%;position: relative;top: 15px;left: 32px;">
              <mat-label>Search query</mat-label>
              <input matInput placeholder="Write here">
            </mat-form-field>
          </p>
        <button mat-fab extended color="primary" class="btn1">
            <mat-icon>search</mat-icon>
            Search
        </button>
    </form>
</div>