<div class="search_box">
    <input type="text" name="" id="" class="input_field">
    <button type="submit" class="btn_submit">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div class="post_box">
    <div class="post_header">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="post_info_img" alt="" srcset="">
        <p class="post_info">John Doe</p>
        <mat-icon class="menu_icon">more_horiz</mat-icon>
    </div>
    <div class="post_body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iusto vel laudantium quo officia corrupti assumenda soluta vero, officiis earum rem distinctio accusamus doloribus, harum dignissimos amet atque minus consequatur?
        </p>
    </div>
    <div class="post_footer">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
