<div class="container">
    <form class="form">
        <div>
            <input type="text" name="" id=""> <br>
            <textarea name="" id="" cols="30" rows="10"></textarea> <br>

            <input type="text" name="" id="" class="inputfield">
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div>
            <input type="file" name="" id="">
        </div>
    </form>
</div>