<mat-tab-group>
    <mat-tab label="Account Settings">
        <div class="profbody">
            <div class="profdiv">
                <div class="details">
                    <p>Account Name : </p>
                    <p>User Id : </p>
                    <p>Email Id :</p>
                    <p>Contact No : </p>
                    <p>Test</p>
                </div>
                <div>
                    <img style="width: 60%; height: 200px;"
                        src="https://firebasestorage.googleapis.com/v0/b/grasppoint-e359d.appspot.com/o/PagePosts%2Fenvironment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg?alt=media&token=5f91bdab-3b59-4948-a559-d97056f37b71"
                        alt="" srcset="">
                </div>
            </div>
        </div>
        <br>
        <div class="resetPassw">
            <p>
                <mat-form-field appearance="outline" class="txtfild">
                  <mat-label>Enter Old password</mat-label>
                  <input type="password" matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="txtfild">
                  <mat-label>Enter New password</mat-label>
                  <input type="password" matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="txtfild">
                  <mat-label>Re-Enter New password</mat-label>
                  <input type="password" matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
            <button type="button" style="width: 35%;" mat-raised-button color="primary">Change Password</button>
        </div>
        <br>
        <div class="forgetpassw">
            <ng-container>
                <p>
                    <mat-form-field appearance="outline" class="txtfild">
                      <mat-label>Enter email or userid</mat-label>
                      <input type="text" matInput placeholder="Type Here....">
                    </mat-form-field>
                </p>
                <button type="button" style="width: 35%;" mat-raised-button color="primary">Get OTP</button>
            </ng-container>
        </div>
        <br>
        <div class="accntcntrl">
            <p>
                Deactive Account : <button mat-raised-button color="primary">Deactive</button>
            </p>
            <p>
                Delete Account : <button mat-raised-button color="warn">Delete</button>
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Posts">
        
    </mat-tab>
    <mat-tab label="States"> Content 3 </mat-tab>
</mat-tab-group>