<div class="conntainer">
    <div class="info_content">

    </div>
    <div class="main_content">
        <mat-card class="contentcard">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title align="left">
                    <small>John Doe</small>
                </mat-card-title>
                <mat-card-subtitle>
                    <small>lorem ipsum olor sit amete</small>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Simple card</mat-card-content>
            <img mat-card-image class="img"
                src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
                alt="">
            <mat-card-title-group>
                <mat-card-title>
                    <button mat-button>Like</button>
                    <button mat-button>Dislike</button>
                    <button mat-button>Share</button>
                    <button mat-button>Share</button>
                </mat-card-title>
                <button mat-button>opt</button>
            </mat-card-title-group>
        </mat-card>
        <mat-card class="contentcard">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title align="left">
                    <small>John Doe</small>
                </mat-card-title>
                <mat-card-subtitle>
                    <small>lorem ipsum olor sit amete</small>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Simple card</mat-card-content>
            <img mat-card-image class="img"
                src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
                alt="">
            <mat-card-title-group>
                <mat-card-title>
                    <button mat-button>Like</button>
                    <button mat-button>Dislike</button>
                    <button mat-button>Share</button>
                    <button mat-button>Share</button>
                </mat-card-title>
                <button mat-button>opt</button>
            </mat-card-title-group>
        </mat-card>
    </div>
    <div class="miscs_container">
        <div class="info">
            
        </div>

        <div class="stickyinfo">
            <p>
                sticky content sticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
            </p>
        </div>
    </div>
</div>