<div class="conntainer">
    <div class="info_content">
        <mat-card class="c10inf">
            <mat-card-content>
                <div class="idc1">
                    <img src="https://img.lovepik.com/free-png/20210926/lovepik-cartoon-avatar-png-image_401440477_wh1200.png" alt="" srcset="" class="profileim1">
                </div>
                <div class="cnt1">
                    <p>Test User</p>
                    <p>
                        <small>
                            lorem insum dolor 
                        </small>
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <p>Groups</p>
                <p>Liked Pages</p>
                <p>Your Posts</p>
                <p>Bookmarks</p>
            </mat-card-content>
          </mat-card>
              
    </div>
    <div class="main_content">
        <mat-card class="contentcard" *ngFor="let item of AllPosts">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title align="left">
                    <small>John Doe</small>
                </mat-card-title>
                <mat-card-subtitle>
                    <small>lorem ipsum olor sit amete</small>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Simple card</mat-card-content>
            <img mat-card-image class="img"
                src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
                alt="">
            <mat-card-title-group>
                <mat-card-title>
                    <button mat-button>Like</button>
                    <button mat-button>Dislike</button>
                    <button mat-button>Share</button>
                    <button mat-button>Share</button>
                </mat-card-title>
                <button mat-button>opt</button>
            </mat-card-title-group>
        </mat-card>
    </div>
    <div class="miscs_container">
        <div class="info">
            <div class="hu10_h">
                <p>Happenings in XYZ</p>
                <p>Readmore</p>
            </div>
            <div class="hu10_b"></div>
        </div>

        <div class="stickyinfo">
            <p>
                sticky content sticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
                sticky contentsticky contentsticky contentsticky content
            </p>
        </div>
    </div>
</div>